

:root {
  --primary: #FEA116;
  --light: #F1F8FF;
  --dark: #0F172B;
}

.ff-secondary {
  font-family: 'Pacifico', cursive;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}



/*** Button ***/
.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  margin-left: 25px;
  padding: 35px 0;
  font-size: 15px;
  color: var(--light) !important;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  padding: 20px 0;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .navbar-brand img {
  max-height: 60px;
  transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
  max-height: 45px;
}

.link-underline {
  border-bottom-width: 0;
  padding-bottom: 2px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 7px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s ease;
}

.link-underline-warning {
  padding-top: 2px;
  background-image: linear-gradient(transparent, transparent), 
  linear-gradient(rgb(205, 185, 10), rgb(213, 192, 5))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
      position: relative;
  }

  .navbar-dark .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid rgba(255, 255, 255, .1)
  }

  .navbar-dark .navbar-nav .nav-link,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
  }

  .navbar-dark .navbar-brand img {
      max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-dark {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      background: transparent !important;
  }
  
  .sticky-top.navbar-dark {
      position: fixed;
      background: var(--dark) !important;
  }
}


/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url("./assets/bg-hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header img {
  animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}


/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}